.gray-box {
    background-color: rgba(49, 52, 54, 0.678);
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white; /* Text color */
}

h1 {
    color: inherit; /* Inherit the color from the parent element */
}